body{
    background-color: white;
    margin: 0 auto;
    
}

main{
    height: 1000px;
    width: 100%;
    background-color: rgb(59, 90, 90);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
#box{
    height: 200px;
    width: 400px;
    background-color: whitesmoke;
    margin: 300px 0 0 0;
}